@media screen and (max-width: 1200px) {
    header {
      justify-content: space-between;
    }
    header a {
      width: 20%;
    }
    header .fa-bars-staggered {
      display: block;
    }
    header .list-content {
      width: 10%;
      text-align: center;
      order: 1;
      position: relative;
    }
    header .list-content ul {
      position: relative;
      text-align: left;
      user-select: none;
      border-radius: 0.5rem;
      margin-top: 4rem;
      width: 22rem;
      /* background-color: black; */
      background-color: #353434;
      display: none;
      position: absolute;
      right: 0;
    }
    header .list-content ul div {
      box-sizing: border-box;
      position: absolute;
      border-bottom: 1.8rem solid #353434;
      border-left: 1.8rem solid transparent;
      border-right: 1.8rem solid transparent;
      right: 1.8rem;
      top: -1.8rem;
    }
    header .list-content ul li {
      margin: 1rem;
      display: flex;
      align-items: center;
    }
    header .list-content ul li img{
      display: block;
      width: 15%;
    }
    header .list-content ul li a{
      width: 85%;
      margin-left: 5%;
    }
    header .box-search {
      width: 40%;
    }
    header .user {
      width: 30%;
    }
  
    .hide-list {
      display: block !important;
    }
  }
@media screen and (max-width: 900px) {

    header {
      height: 10rem;
      flex-wrap: wrap;
    }
    header a {
      width: 100%;
    }
    header .user {
      width: 30rem;
    }
  }
@media screen and (max-width: 700px) {
    html{
        font-size: 56% !important;
    }
    header {
      height: 10rem;
      flex-wrap: wrap;
    }
    header a {
      width: 100%;
    }
    header .box-search {
      width: 20%;
    }
    header .user {
      width: 60%;
    }
    .user-box{
      bottom: -40rem !important;
    }
  }
@media screen and (max-width: 1000px) {
  .icon-control{
    display: none !important;
  }
}